<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Create account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="register">
  <input type="text" id="ssoId" name="ssoId" value=""/>
  <input type="text" id="password" name="password" value=""/>
  <input type="text" id="firstName" name="firstName" value=""/>
  <input type="text" id="lastName" name="lastName" value=""/>
  <input type="text" id="email" name="email" value=""/>
  <input type="submit" value="Register"/>
</form>
</body>
</html>